/* https://coolors.co/454851-73956f-7bae7f-95d7ae-fceff9 */
:root {
  --charcoal-blue: #454851;
  --sage-green: #73956f;
  --muted-teal: #7bae7f;
  --celadon: #95d7ae;
  --lavender-blush: #fceff9;
}

/* || GENERAL STYLING */
body {
  margin: 0;
  background-color: var(--charcoal-blue);
}

/* || UTILITY CLASSES */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

/* || HEADER */
header {
  background-color: var(--sage-green);
  padding: 0.5em 2em;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

header h1 {
  margin-right: 0.5em;
}

nav .row {
  list-style: none;
}

nav .nav-item {
  background-color: var(--muted-teal);
  padding: 8px 16px;
  margin: 0 16px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 1px 7px -2px var(--charcoal-blue);
}

nav .nav-item:hover {
  background-color: var(--celadon);
}

nav .selected {
  background-color: var(--celadon);
  color: var(--charcoal-blue)
}

/* || MAIN CONTENT */

/* || FOOTER */